//Color Variables
$color-lemon: #fff9cc;
$color-lava: #352f27;
$color-orange: #ea825d;
$color-blue: #76a79e;
$color-green: #6e7868;
$color-grey: #D5D4CF;

//Font Variables
$font-primary: 'Poiret One', cursive;
$font-secondary: 'Lato', sans-serif;
